.profile__add-button-image {
    height: 22px;
    width: 22px;
    margin: auto;
  }
  
  @media screen and (max-width: 544px) {
      .profile__add-button-image {
        height: 16px;
        width: 16px;
      }
  }