.page {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 320px;
  max-width: 1280px;
  min-height: 100vh;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #000000;
}

@media screen and (max-width: 1024px) {
  /* стили для планшетов */
}
@media screen and (max-width: 544px) {
  /* стили для мобильных устройств */
}